{{!-- <form action={{routes.REGISTER}} method="post">
    <label for="email">Email: </label>
    <br>
    <input type="email" name="email" id="email" value={{model.email}}>
    <br>
    <label for="password">Password: </label>
    <br>
    <input type="password" name="password" id="password">
    <br>
    <label for="confirm-password">Confirm Password: </label>
    <br>
    <input type="password" name="confirmPassword" id="confirm-password">
    <br>
    <input type="submit" value="Register" />
</form> --}}

<div class="text-center">

    <form action={{routes.REGISTER}} method="post" class="form-signin">
        {{!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
            height="72"> --}}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="" value={{model.email}}>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="paswword" class="form-control" placeholder="Password" required="">
        <label for="confirm-password" class="sr-only">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirm-password" class="form-control" placeholder="Confirm Password" required="">
        <hr>
        {{!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> --}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>