<form action={{route}} method="post">
    <label for="name">Name: </label>
    <br>
    <input type="text" name="name" id="name" value={{model.name}}>
    <br>
    <label for="id">ID: </label>
    <br>
    <input type="text" name="id" id="id" value={{model.id}}>
    <br>
    <input type="submit" value="Create Website" />
</form>