<form action={{routes.WEBSITE_EDIT}} method="post">
    <label for="name">Name: </label>
    <br>
    <input type="text" name="name" id="name" value={{model.name}}>
    <br>
    <label for="domain">Domain: </label>
    <br>
    <input type="text" name="domain" id="domain" value={{model.domain}}>
    <br>
    <input type="submit" value="Edit Website" />
</form>