<div class="container px-4 px-lg-5 text-center pt-5">
    <h2>Open Source Course Project for Web Design by Nikolay Nikolaev</h2>
    <h3>
        <a href="https://github.com/NikolayNikolaev1/news_website_course_project">Source code</a>
    </h3>
    <p>
        Уебсайт за създаване на новинарски страници от регистрирани
        клиенти, които имат опцията да публикуват статии в собствените си
        страници и/или да разглеждат статиите на други страници
    </p>
    <p>
        Курсовия проект има за цел да даде възможност на всеки желаещ да
        създаде собствен „уебсайт“, с лимитирани опции, като главния фокус е
        публикуването на статии по собствено избрана тема и разпространението
        на информация в едно общо място – страницата на потребителя.
    </p>
    <p>
        Клиента има свободата да създава страници и публикации без
        ограничения на броя и информацията в тях. Редактиране и изтриване има
        възможността само собственика на страницата/ публикациите. Въпреки
        това, админски профил контролира какво се качва в уебсайта, имайки
        винаги правото да свали страница по негова преценка.
    </p>
    <p>
        Задачата на проекта, изпълнена в рамките на новинарски страници,
        може да нарасне в опцията за създаване на сайтове на тематика по избор
        от потребителя на уебсайта. Това дава шанс на всеки желаещ,
        независимо от познанията му, да създаде това, което желае от нулата. За
        изпълнението на тази цел е нужно да се формулират добре етапите на
        създаване на сайта.
    </p>
</div>