<div class="text-center">
    <form action="/{{isPublisher.domain}}/article/create" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Create Article</h1>
        <div class="form-group">
            <label for="title" class="sr-only">Title</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Title" required="" autofocus=""
                value={{model.title}}>
        </div>
        <div class="form-group">
            <label for="video-url" class="sr-only">Video URL</label>
            <input type="text" name="videoUrl" id="video-url" class="form-control" placeholder="Video Url"
                value={{model.videoUrl}}>
        </div>
        <div class="form-group">
            <label for="text" class="sr-only">Text</label>
            <textarea name="text" id="text" class="form-control" placeholder="Text"
                required="">{{model.text}}</textarea>
        </div>
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>