<form action={{routes.ARTICLE_CREATE}} method="post">
    <label for="title">Title: </label>
    <br>
    <input type="text" name="title" id="title" value={{model.title}} />
    <br>
    <label for="text">Text: </label>
    <br>
    <textarea name="text" id="text">
        {{model.text}}
    </textarea>
    <br>
    <input type="submit" value="Post Article" />
</form>